<configuration>
  <system.webserver>

    <websocket enabled="false"/>
    <handlers>

      <add name="iisnode" path="bin/www" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>

        <rule name="NodeInspector" patternsyntax="ECMAScript" stopprocessing="true">
          <match url="^bin/www\/debug[\/]?"/>
        </rule>

        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchtype="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="bin/www"/>
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestfiltering>
        <hiddensegments>
          <remove segment="bin"/>
        </hiddensegments>
      </requestfiltering>
    </security>

    <httperrors existingresponse="PassThrough"/>

  </system.webserver>
</configuration>